<%- include('header') %>


        <section class="content-main">
            <div class="content-header">
                <div>
                    <h2 class="content-title card-title">BLOGS </h2>
                   
                </div>
                <div>
                  
                    <a href="/api/admin/loadCreateBlog" class="btn btn-primary btn-sm rounded">Create new</a>
                </div>
            </div>
            <header class="card card-body mb-4">
                <div class="row gx-3">
                  
                   
                </div>
            </header> <!-- card-header end// -->
            <div class="row">
                <div class="col-xl-3 col-lg-4 col-md-6">
                    <div class="card card-product-grid">
                        <a href="#" class="img-wrap"> <img src="/admin/assets/imgs/items/1.jpg" alt="Blog"> </a>
                        <div class="info-wrap">
                            <div class="dropdown float-end">
                                <a href="#" class="btn btn-sm btn-brand rounded">
                                    <i class="material-icons md-edit mr-5"></i>Edit
                                </a>
                                <div class="dropdown-menu dropdown-menu-end">
                                    <a class="dropdown-item" href="#">Edit info</a>
                                    <a class="dropdown-item text-danger" href="#">Delete</a>
                                </div>
                            </div>
                            <a href="#" class="title">Just another product name</a>
                            <div class="price mt-1">$179.00</div> <!-- price-wrap.// -->
                        </div>
                    </div> <!-- card-product  end// -->
                </div> <!-- col.// -->



              


            </div> <!-- row.// -->
            <div class="pagination-area mt-15 mb-50">
                <nav aria-label="Page navigation example">
                    <ul class="pagination justify-content-start">
                        <li class="page-item active"><a class="page-link" href="#">01</a></li>
                        <li class="page-item"><a class="page-link" href="#">02</a></li>
                        <li class="page-item"><a class="page-link" href="#">03</a></li>
                        <li class="page-item"><a class="page-link dot" href="#">...</a></li>
                        <li class="page-item"><a class="page-link" href="#">16</a></li>
                        <li class="page-item"><a class="page-link" href="#"><i class="material-icons md-chevron_right"></i></a></li>
                    </ul>
                </nav>
            </div>
        </section> <!-- content-main end// -->
       
    <%- include('footer') %>
  