<!DOCTYPE html>
<html class="no-js" lang="en">

<head>
    <meta charset="utf-8">
    <title>PRADA</title>
    <meta http-equiv="x-ua-compatible" content="ie=edge">
    <meta name="description" content="">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <meta property="og:title" content="">
    <meta property="og:type" content="">
    <meta property="og:url" content="">
    <meta property="og:image" content="">
    <!-- Favicon -->
    <link rel="shortcut icon" type="image/x-icon" href="https://i.pinimg.com/736x/eb/7d/01/eb7d01a4c4e02e12af398a3c1bb50606.jpg">
    
    <!-- Template CSS -->
    <link rel="stylesheet" href="/user/assets/css/main.css?v=3.4">
    
   
        <script src="https://cdnjs.cloudflare.com/ajax/libs/jquery/3.7.0/jquery.min.js"></script>
        <link rel="stylesheet" href="https://cdn.jsdelivr.net/npm/sweetalert2@11.1.5/dist/sweetalert2.min.css">
        <script src="https://cdn.jsdelivr.net/npm/sweetalert2@11.1.5/dist/sweetalert2.min.js"></script>
        <link rel="stylesheet" href="https://cdn.jsdelivr.net/npm/sweetalert2@11.0.19/dist/sweetalert2.min.css">

        


        <script src="https://cdn.jsdelivr.net/npm/sweetalert2@11.0.19/dist/sweetalert2.all.min.js"></script>
        <script src="https://code.jquery.com/jquery-3.6.0.min.js"></script>
        <script src="https://unpkg.com/sweetalert/dist/sweetalert.min.js"></script>
        <script src="https://checkout.razorpay.com/v1/checkout.js"></script>
        
        <style>
            .table-spacing th,
    .table-spacing td {
        padding-left: 80px; /* Adjust the value as needed for the desired spacing */
    }
    .pagination {
display: flex;
justify-content: center;
align-items: center;
margin-top: 20px;
}

.pagination button {
background-color: #f5f5f5;
border: 1px solid #ccc;
padding: 6px 12px;
margin: 0 3px;
cursor: pointer;

transition: background-color 0.3s, color 0.3s;
}

.pagination button.active {
background-color: #007bff;
color: #fff;
border-color: #007bff;
}

.pagination button:hover {
background-color: #ddd;
}

 /* CSS for Circular Zoom Effect */
.zoom-container {
    position: relative;
    overflow: hidden;
}

.zoom-image {
    transition: transform 0.3s ease-in-out;
}

.thumbnail-image {
    height: 150px;
    width: 100px;
}

.zoom-container::before {
    content: "";
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    width: 0;
    height: 0;
    background: rgba(255, 255, 255, 0.7);
    border-radius: 50%;
    opacity: 0;
    transition: all 0.3s ease-in-out;
}
/* Custom button styles */
.custom-btn {
  background-color: transparent;
  border: 1px;
  padding: 0;
  cursor: pointer; /* Add pointer cursor on hover for better user feedback */
  outline: none; /* Remove the default button outline on focus */
}

/* Style the icons */
.custom-btn i {
  font-size: 16px; /* Adjust the font size as needed */
  vertical-align: middle; /* Center the icon vertically */
}

/* Style the number and <i> tag as black */
.custom-btn i,
.custom-btn .qty-val {
  color: black;
}



.zoom-container:hover .zoom-image {
    transform: scale(1.1); /* Adjust the scale factor as needed for your desired zoom level */
}

.zoom-container:hover::before {
    width: 100%;
    height: 100%;
    opacity: 1;
}
.product-price {
    display: flex;
    justify-content: space-between;
}

.price-container {
    flex-grow: 1; /* Allow the container to grow and push the <a> tag to the right */
}
    </style>

        
</head>

<body>
    <!-- Quick view -->
   
    <header class="header-area header-style-4 header-height-2">
        <div class="header-top header-top-ptb-1 d-none d-lg-block">
            <div class="container">
                <div class="row align-items-center">
                    <div class="col-xl-3 col-lg-4">
                        <div class="header-info">
                            <ul>
                                
                                
                            </ul>
                        </div>
                    </div>
                    <div class="col-xl-6 col-lg-4">
                        <div class="text-center">
                           
                            <div id="news-flash" class="d-inline-block">
                              
                                
                            </div>
                        </div>
                    </div>
                    <div class="col-xl-3 col-lg-4">
                        <div class="header-info header-info-right">
                            <ul>
                                <li>
                                    <a class="language-dropdown-active" href="#"> <i class="fi-rs-world"></i> English <i class="fi-rs-angle-small-down"></i></a>
                                    <ul class="language-dropdown">
                                        <li><a href="#"><img src="/user/assets/imgs/theme/flag-fr.png" alt="">Français</a></li>
                                        <li><a href="#"><img src="/user/assets/imgs/theme/flag-dt.png" alt="">Deutsch</a></li>
                                        <li><a href="#"><img src="/user/assets/imgs/theme/flag-ru.png" alt="">Pусский</a></li>
                                    </ul>
                                </li>
                                <% if (locals.user) { %>
                                <li class="dropdown nav-item">
                                    <% if (locals.user.image) { %>
                                        <% if (locals.user.isGoogle) { %>
                                            <a class="dropdown-toggle" data-bs-toggle="dropdown" href="#" id="dropdownAccount" aria-expanded="false"> <img style="width: 30px; height: 30px; " class="img-xs rounded-circle" src="<%= locals.user.image %>" alt=""></a>


                                            <% } else { %>
                                                <a class="dropdown-toggle" data-bs-toggle="dropdown" href="#" id="dropdownAccount" aria-expanded="false"> <img style="width: 30px; height: 30px; " class="img-xs rounded-circle" src="/admin/assets/imgs/catogary/<%= locals.user.image %>" alt=""></a>
                                                 <% } %>

                                       

                                        <% } else { %>
                                        <a class="dropdown-toggle" data-bs-toggle="dropdown" href="#" id="dropdownAccount" aria-expanded="false"> <img style="width: 30px; height: 30px; " class="img-xs rounded-circle" src="/user/assets/imgs/theme/flag-fr.png" alt=""></a>

                                            <% } %>
                                    <div class="dropdown-menu dropdown-menu-end" aria-labelledby="dropdownAccount">
                                        <a class="dropdown-item" href="/api/user/profile"><i class="material-icons md-perm_identity"></i> Profile</a>
                                       
                                       
                                        <div class="dropdown-divider"></div>
                                        <!-- <a class="dropdown-item text-danger" href="#"><i class="material-icons md-exit_to_app"></i>Logout</a> -->
                                       
                                        <a class="dropdown-item text-danger" href="/api/user/logout"><i class="material-icons md-exit_to_app"></i>Logout</a>
                                        
                                            
                                        <% } else { %>
                                            
                                            <li><a href="/api/user/login">Login</a></li>
                                        <% } %>
                                    </div>
                                </li>
                                
                            </ul>
                        </div>


<!-- ----------------------------------------------------------- -->

<!-- 
<li>
    <a class="language-dropdown-active" href="#"><i class="fi-rs-user"></i></i> Profile <i class="fi-rs-angle-small-down"></i></a>
    <ul class="language-dropdown">
        <% if (locals.user) { %>
            <li><a href="/api/user/logout">Logout</a></li>
        <% } else { %>
            
            <li><a href="/api/user/login">Login</a></li>
        <% } %>
        <li><a href="/api/user/profile">My Account</a></li>
    </ul>
</li> -->


<!-- ----------------------------------------------------------------------- -->
                       
                    </div>
                </div>
            </div>
        </div>
        <div class="header-middle header-middle-ptb-1 d-none d-lg-block">
            <div class="container">
                <div class="header-wrap">
                    <div class="logo logo-width-1">
                        <a href="/api/user"><img  src="https://i.pinimg.com/736x/eb/7d/01/eb7d01a4c4e02e12af398a3c1bb50606.jpg" alt="logo"></a>
                    </div>
                    <div class="header-right">
                        <div class="search-style-2">
                            <form action="/api/user/filterSearch" method="post">
                                
                                <input type="text" name="search" placeholder="Search for items...">
                               
                                <button class="btn btn-sm" type="submit">Search</button>
                            </form>
                        </div>
                        <div class="header-action-right">
                            <div class="header-action-2">
                                <div class="header-action-icon-2">
                                    <a href="/api/user/Wishlist">
                                        <img class="svgInject" alt="Evara" src="/user/assets/imgs/theme/icons/icon-heart.svg">
                                        
                                    </a>
                                </div>
                                <div class="header-action-icon-2">
                                    <a class="mini-cart-icon" href="/api/user/cart">
                                        <img alt="Evara" src="/user/assets/imgs/theme/icons/icon-cart.svg">
                                        
                                    </a>
                                  
                                <div class="header-action-icon-2 d-block d-lg-none">
                                    <div class="burger-icon burger-icon-white">
                                        <span class="burger-icon-top"></span>
                                        <span class="burger-icon-mid"></span>
                                        <span class="burger-icon-bottom"></span>
                                    </div>
                                </div>
                            </div>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
        <div class="header-bottom header-bottom-bg-color sticky-bar">
            <div class="container">
                <div class="header-wrap header-space-between position-relative">
                    <div class="logo logo-width-1 d-block d-lg-none">
                        <a href="/api/user"><img src="/user/assets/imgs/theme/logo.svg" alt="logo"></a>
                    </div>
                    <div class="header-nav d-none d-lg-flex">
                        <div class="main-categori-wrap d-none d-lg-block">
                            <a class="categori-button-active" href="#">
                                <span class="fi-rs-apps"></span> Browse Categories
                            </a>
                            <div class="categori-dropdown-wrap categori-dropdown-active-large">
                                <ul>
                                    <li class="has-">
                                        <a href="/api/user/CatogaryFilter?catogary= Womon's Clothing"><i class="evara-font-dress"></i>Women's Clothing</a>
                                        
                                    </li>
                                    <li class="has-">
                                        <a href="/api/user/CatogaryFilter?catogary=Men's Clothing"><i class="evara-font-tshirt"></i>Men's Clothing</a>
                                        
                                    </li>
                                    

                                    <li><a href="/api/user/CatogaryFilter?catogary=Accessories"><i class="evara-font-diamond"></i> Accessories</a></li>
                                    <li><a href="/api/user/CatogaryFilter?catogary= Children's Clothing"><i class="evara-font-teddy-bear"></i> Kids</a></li>


                                   
                                </ul>
                               
                            </div>
                        </div>
                        <div class="main-menu main-menu-padding-1 main-menu-lh-2 d-none d-lg-block">
                            <nav>
                                <ul>
                                    <li><a class="active" href="/api/user">Home </a>
                                       
                                    </li>
                                    
                                    <li><a href="/api/user/shop">Shop <i class=""></i></a> </li>
                                    
                                    <li><a href="/api/user/blog">Blog </a>
                                        
                                    </li>
                                   
                                    <li>
                                        <a href="/api/user/about">About</a>
                                    </li>
                                </ul>
                            </nav>
                        </div>
                    </div>
                    
                 
                    <div class="header-action-right d-block d-lg-none">
                        <div class="header-action-2">
                            <div class="header-action-icon-2">
                                <a href="/api/user/Wishlist">
                                    <img alt="Evara" src="/user/assets/imgs/theme/icons/icon-heart.svg">
                                    <span class="pro-count white">4</span>
                                </a>
                            </div>
                            <div class="header-action-icon-2">
                                <a class="mini-cart-icon" href="/api/user/cart">
                                    <img alt="Evara" src="/user/assets/imgs/theme/icons/icon-cart.svg">
                                    
                                </a>
                              
                            <div class="header-action-icon-2 d-block d-lg-none">
                                <div class="burger-icon burger-icon-white">
                                    <span class="burger-icon-top"></span>
                                    <span class="burger-icon-mid"></span>
                                    <span class="burger-icon-bottom"></span>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </header>
